#response {
	position: relative;
	transition: all 0.5s ease-in-out;
}

.product-loading {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.product-loading i {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	transition: all 0.5s ease-in-out;
}

.product-loading.visible {
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}