/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

button {
	cursor: pointer;
}

.button-group {
	text-align: center;
	margin: 0 auto 50px;
}