#et-top-navigation {
	float: left;
	left: 180px;
	position: relative;
	padding-left: 0!important;
}

.et-fixed-header #et-top-navigation {
	left: 110px;
	transition: all .4s ease-in-out;
}

.header-nav-right {
	float: right;
	padding-top: 33px;
	position: relative;
	transition: all .4s ease-in-out;
	line-height: 0;
}

.header-nav-right li {
	display: inline-block;
	line-height: 1em;
	vertical-align: middle;
}

.header-nav-right li a {
	color: rgba(0,0,0,.6);
	font-size: 15px;
	font-weight: bold;
}

.header-nav-right li:last-child a {
	background-color: #0072d6;
	border-radius: 3px;
	padding: 10px 15px;
	color: #fff;
	margin-left: 25px;
}

.header-nav-right li:last-child a:after {
	display: none;
}

.et-fixed-header .header-nav-right {
	padding-top: 10px;
	transition: all .4s ease-in-out;
}

.et-fixed-header .header-nav-right li a {
	font-size: 14px;
	transition: all .4s ease-in-out;
}

body .nav .sub-menu li {
	text-align: left;
}

body .nav .sub-menu {
	right: auto;
	left: inherit;
}

body .nav li.menu-item-1494 ul.sub-menu {
	right: auto;
}

body .entry-content h1 {
	color: #000;
}

body .entry-content .hero-section h1 {
	font-size: 40px;
	letter-spacing: -.02em;
}

body .entry-content .hero-section p {
	font-size: 20px;
}

.chart-bg-graphic {
	text-align: center;
	margin-top: -150px;
	z-index: 1;
}

.skewed_linear_grad_left:before {
	position: absolute;
	width: 100%;
	height: 672px;
	left: 0;
	top: 0;
	background: linear-gradient(-50deg, #FFFFFF 54.07%, rgba(255, 255, 255, 0) 84.54%), rgba(71, 93, 121, 0.2);
	transform: skew(0, 10deg);
	content: '';
}

svg {
	width: 100%!important;
	height: auto;
}

.hero-section svg {
	margin-bottom: -6px;
}